.project
.settings
.*.swp 
*/.*.swp 
*/*/.*.swp 
*/*/*/.*.swp

Source_ElVibRot/sub_Basis/laguerre_integrands.sh
Source_ElVibRot/sub_Basis/laguerre_integrands.txt

obj/*
vib
comp.log
*.exe
*.a
Examples/exa_PhysicalConstants/res*
Examples/exa_PhysicalConstants/comp.log
Examples/exa_TanaCheck/*log
Examples/exa_TanaCheck/save_dat_error

UnitTests/*/*log
UnitTests/*/file*
UnitTests/*/lev*
UnitTests/*/res*
UnitTests/*/SH_HADA*
UnitTests/*/err*
UnitTests/*/freq.xyz
UnitTests/*/namelist*
UnitTests/res_UT_Frac
UnitTests/res_UT_PhysConst
