.project
.settings
Source_TnumTana_Coord/sub_operator_T/calc_f2_f1Q.f90
Source_TnumTana_Coord/sub_operator_T/Calc_Tab_dnQflex.f90
Source_TnumTana_Coord/sub_operator_T/Sub_X_TO_Q_ana.f90
sub_pot/sub_system.f
sub_pot/sub_system.f90
obj/*
makefile_CRP
vib
comp.log
*.exe
Examples/exa_PhysicalConstants/res*
Examples/exa_PhysicalConstants/comp.log
UnitTests/*/*log
UnitTests/*/file*
UnitTests/*/lev*
UnitTests/*/res*
UnitTests/*/SH_HADA*
UnitTests/*/err*
UnitTests/*/namelist*
