.tabsnav{
border-bottom: 1px solid gray;
}

.tabsnav ul{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font-weight: bold;
font-family: sans-serif;
font-size: 12px;
list-style-type: none;
text-align: left;
}

.tabsnav li{
display: inline;
margin: 0;
}

.tabsnav li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
color: #20397B;
}


.tabsnav li.selected a{ /*selected main tab style */
color: #20397B;
border-bottom-color: white;
}

.tabsnav li.selected a:hover{
color: #20397B;
text-decoration: none;
}

.dropmenudiv_b{
position:absolute;
top: 0;
font-family: sans-serif;
font-weight:normal;
font-size: 12px;
line-height:18px;
z-index:100;
background-color: white;
width: auto;
visibility: hidden;
}


.dropmenudiv_b a{
width: 100%;
text-indent: 5px;
padding: 2px 0;
text-decoration: none;
color: #20397B;;
}

* html .dropmenudiv_b a{ /*IE only hack*/
width: 100%;
}
